@font-face {
    font-family: "alianafont";
    src: url("fonts/Aliana-Regular.ttf") format("truetype");
    }

    *{
    box-sizing:border-box;
    }
    
    body{
    margin:0;
    background:#2f3b33;
    display:flex;
    flex-direction:column;
    align-items:center;
    }
    
    /* PORTADA */
    
    .invitacion{
    width:100%;
    max-width:420px;
    text-align:center;
    padding:10px 10px;
    
    background-image:
    linear-gradient(
    to bottom,
    rgba(245,242,236,0.85) 0%,
    rgba(245,242,236,0.35) 50%,
    rgba(245,242,236,0.9) 100%
    ),
    url("img/foto-pareja.jpg"); 
    background-size:cover;
    background-position:center;
    border:1px solid #d4c5a1;
    }
    
    .titulo{
    font-family:"EB Garamond", serif;
    font-size:30px;
    text-transform:uppercase;
    letter-spacing:4px;
    margin-bottom: 2px;
    color:#5c7569;
    }
    
    /* NOMBRES */
    
    .nombres{
        font-family:"alianafont";
        font-size:90px;
        color:#4a5f55;
        line-height:1.2;
        display:block;
        margin:52px 0;
        }
    
    .and{
        font-family:"alianafont";
        font-size:80px;
        color:#4a5f55;
        margin:5px 0;
        display:block;
        }
    /* FECHA */
    
    .fecha{
    font-family:"EB Garamond", serif;
    font-size:22px;
    color:#5c7569;
    margin:30px 0;
    margin-top:65px;  
    font-weight:500;
    letter-spacing:2px;
    line-height:1.4;
    
    }
    
    /* BOTON */
    
    
    
  
    
    /* FRASE */
    
    .frase{
    width:100%;
    max-width:420px;
    background:#7c8c72;
    color:white;
    text-align:center;
    padding:1px 30px;
    }
    
    .texto-frase{
    font-family:"EB Garamond", serif;
    font-size:22px;
    line-height:1.8;
    }
    
    .frase .corazon{
    margin-top:30px;
    font-size:30px;
    }
    
    /* PADRES */
    
    .padres{
    font-family: "Great Vibes", cursive;
    width:100%;
    max-width:420px;
    background:#f3f3f3;
    padding:40px 20px;
    color:#5c7569;
    }

    .padres-contenido{
    border:3px solid #b89c6c;
    padding:40px 25px;
    text-align:center;
    }
    
    .intro{
        font-family: "Great Vibes", cursive;
        font-size:36px;
        line-height:1.5;
        }
    
    .grupo{
    margin-bottom:35px;
    }
    
    .grupo h3{
        font-family: "Great Vibes", cursive;
        font-size:34px;
        font-weight:normal;
        margin-top:30px;
        margin-bottom:10px;
        }
    
    .grupo p{
    font-family:"EB Garamond", serif;
    font-size:18px;
    margin:4px 0;
    }
    
    .final{
    font-family: "Great Vibes", cursive; 
    font-size:34px;
    margin-top:30px;
    }

    .grupo h3,.intro,.final{
    color:#4f6458; /* un poco más oscuro */
    }
    .grupo p{
    color:#6e857a; /* más suave */
    }
    
    /* CONTADOR */
    
    .contador{
    width:100%;
    max-width:420px;
    background:#f2f2f2;
    text-align:center;
    padding:80px 20px;
    position:relative;
    overflow:hidden;
    color:#5c7569;
    }
    
    .contador h2{
    font-family: "Imperial Script", cursive;
    font-size:40px;
    margin-bottom:30px;
    }
    
    .tiempo{
    display:flex;
    justify-content:center;
    gap:35px;
    margin:30px 0;
    }
    
    .tiempo div{
    text-align:center;
    }
    
    .tiempo span{
    display:block;
    font-size:36px;
    font-family: "Imperial Script", cursive;
    }
    
    .tiempo p{
    font-size:14px;
    letter-spacing:2px;
    margin-top:5px;
    }
    
    .contador h3{
    font-family: "Imperial Script", cursive;
    font-size:32px;
    margin-top:20px;
    }
    
    /* PLANTAS */
    
    .planta{
    position:absolute;
    width:280px;
    pointer-events:none;
    }
    
    .planta-arriba{
    top:0;
    right:0;
    }
    
    .planta-abajo{
    bottom:0;
    left:0;
    }
    
   
    
    .boton-maps{
        display:inline-block;
        margin-top:20px;
        padding:10px 26px;
        border:1px solid #c7a46c;
        border-radius:30px;
        text-decoration:none;
        font-family:"EB Garamond", serif;
        font-size:18px;
        color:#4f6458;
        transition:.3s;
        } 
    
    .boton-maps:hover{
    background:#c7a46c;
    color:white;
    }
    
    /* TIMELINE */

.timeline{
    width:100%;
    max-width:420px;
    margin:auto;
    padding:80px 40px;
    background:#f2f2f2;
    position:relative;
    text-align:center;
    font-family:"EB Garamond", serif;
    color:#5c7569;
    
    }
    
.timeline h2{
    font-size:32px;
    margin-top:0px;
    margin-bottom:40px;
    }
    
    /* LINEA CENTRAL */
    
    .timeline::before{
    content:"";
    position:absolute;
    left:80px;
    top:250px;
    bottom:120px;
    width:2px;
    background:#6b7c6c;
    height:0;
    transition:height 2s ease-in-out;
    z-index:1;
    }
    
    /* EVENTOS */
    
    .evento{
        display:flex;
        align-items:center;
        margin-bottom:35px;
        opacity:0;
        transform:translateX(30px);
        transition:all .8s ease-out;
        position:relative;
        }
    

    .evento.visible{
    opacity:1;
    transform:translateX(0);
    }
    
    /* COLUMNA ICONO */
    
    .icono{
        width:80px;
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
        }
    
    /* CORAZON */
    
    .timeline .corazon{
        width:42px;
        height:42px;
        background:#6b7c6c;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content:center;
        position:absolute;
        left:50%;
        transform:translate(-50%, -45px); /* sube el corazón */
        z-index:2;
        }
    
    /* ICONO CORAZON */
    
    .timeline .corazon::after{
    content:"♡";
    color:white;
    font-size:18px;
    }
    
    /* CONTENIDO */
    
    .contenido{
    flex:1;
    padding-left:25px;
    text-align:left;
    }
    
    .hora{
        font-size:20px;
        letter-spacing:1px;
        margin-bottom:2px;
        } 
    
        .contenido h3{
            font-size:38px;
            margin:0;
            line-height:1.1;
            } 
    
    .contenido img{
    width:120px;
    margin-top:5px;
    }
    
    /* ANIMACION LINEA */
    
    .timeline.animar-linea::before{
    height:calc(100% - 350px);
    }
    .confirmacion {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        padding: 60px 20px;
        background: #fdfaf5; /* Fondo crema cálido */
        text-align: center;
    }
    
    .tarjeta {
        border: 1px solid #c8a96a; /* Borde dorado fino */
        padding: 40px 20px;
        background: white;
        box-shadow: 0 4px 15px rgba(0,0,0,0.05); /* Sombra muy sutil */
    }
    
    .titulo1{
        font-family: "Great Vibes", cursive;  
        font-size:48px;
        color:#5f7468;
        margin-bottom:10px;
        }
    
    .familia {
        font-family: "EB Garamond", serif;
        font-size: 26px;
        color: #5f7468; /* Verde oscuro de la portada */
        margin-bottom: 30px;
        font-weight: normal;
    }

    .lista{
        font-family: "EB Garamond", serif;
            max-width:260px;
            margin:30px auto;   /* centra la lista */
            display:flex;
            flex-direction:column;
            gap:12px;
            font-size:18px;
            color: #5f7468; 
            }
        
    .btn-confirmar {
        margin-top: 40px;
        padding: 15px 40px;
        background: #c8a96a; /* Dorado sólido */
        color: white;
        border: none;
        font-family: "EB Garamond", serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3px; /* Espaciado elegante */
        cursor: pointer;
        transition: all 0.3s ease;
        width: 100%;
        max-width: 250px;            
            }
            
            .btn-confirmar:hover {
                background: #b89555; /* Dorado más oscuro */
                transform: translateY(-2px);
                box-shadow: 0 5px 10px rgba(184, 149, 85, 0.3);
            }        

            .adultos{
                background:#7c8c72;
                padding:80px 20px;
                display:flex;
                justify-content:center;
                color: white;
                border-left:1px solid #c7a46c;
                border-right:1px solid #c7a46c;
                border-top: 1px solid #c7a46c;
                
              }
              
              .adultos-contenido{
                max-width:380px;
                width:100%;
                text-align:center;
                color: white;
              }
              
              .adultos-card{
                background:#ffffff;
                padding:5px 35px;
                margin-top:30px;
                box-shadow:0 10px 25px rgba(0,0,0,0.15);
                font-size:14px;
                letter-spacing:2px;
                line-height:1.7;
                color: #4f6458;
              }


              .vestimenta-regalos{
                background:#f1f1f1;
                text-align:center;
                padding:10px 20px;
              }
              
              .titulo-seccion{
                font-family:'Great Vibes', cursive;
                font-size:48px;
                color:#4f6458;
                margin-bottom:10px;
              }
              
              .formal{
                letter-spacing:4px;
                font-size:16px;
                margin-bottom:40px;
              }
              
              .iconos-vestimenta{
                display:flex;
                justify-content:center;
                gap:40px;
                margin-bottom:70px;
              }
              
              .iconos-vestimenta img{
                width:120px;
              }
              
              .regalos-titulo{
                margin-top:20px;
              }
              
              .texto-regalos{
                max-width:380px;
                margin:auto;
                font-size:16px;
                line-height:1.7;
                color:#555;
              }

              .regalos{
                text-align:center;
                padding:80px 20px;
                }
                
                .botones-regalo{
                display:flex;
                justify-content:center;
                gap:20px;
                margin-top:30px;
                flex-wrap:wrap;
                }
                
                .btn-regalo{
                padding:14px 28px;
                text-decoration:none;
                border-radius:4px;
                font-size:14px;
                letter-spacing:2px;
                background:#222;
                color:white;
                }
                
                .btn-regalo:hover{
                opacity:0.8;
                }
                .tiendas{
                    display:flex;
                    justify-content:center;
                    gap:50px;
                    margin-top:40px;
                    flex-wrap:wrap;
                    }
                    
                    .tienda{
                    text-decoration:none;
                    color:#333;
                    text-align:center;
                    }
                    
                    .tienda img{
                    width:120px;
                    margin-bottom:10px;
                    transition:transform 0.3s;
                    }
                    
                    .tienda img:hover{
                    transform:scale(1.1);
                    }

/* SECCIÓN GRACIAS */

.gracias{
    position:relative;
    background:#7c8c72;
    text-align:center;
    padding:120px 108px;
    color:white;
    }
    
    .mensaje-gracias{
    animation:fadeUp 2s ease;
    }
    
    .mensaje-gracias p{
    font-family:'Great Vibes', cursive;
    font-size:42px;
    margin:10px 0;
    color:white;
    }
    
    .corazon{
    display:block;
    font-size:24px;
    margin-top:40px;
    }
    
    @keyframes fadeUp{
    from{
    opacity:0;
    transform:translateY(30px);
    }
    to{
    opacity:1;
    transform:translateY(0);
    }
    }
    

/* GALERÍA */

.momentos{
    background:white;
    padding:30px 20px;
    text-align:center;
    }
    
    .momentos h2{
    color:#2f3f33;
    margin-bottom:30px;
    font-size:28px;
    }
    
    .galeria{
    max-width:380px;
    margin:auto;
    }
    
    .slider{
    width:100%;
    overflow:hidden;
    border-radius:20px;
    position:relative;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    }
    
    .slides{
    display:flex;
    transition:transform 0.5s ease;
    }
    
    .slides img{
    width:100%;
    flex-shrink:0;
    display:block;
    border-radius:20px;
    }

    /* BOTONES */
    
    .prev,
    .next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(255,255,255,0.9);
    border:none;
    font-size:22px;
    cursor:pointer;
    padding:8px 12px;
    border-radius:50%;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
    z-index:10;
    }
    
    .prev{
    left:10px;
    }
    
    .next{
    right:10px;
    }
 

    #musicaBtn{
        position:fixed;
        bottom:20px;
        right:20px;
        background:#bfa370;
        color:white;
        border:none;
        padding:10px 15px;
        border-radius:50px;
        cursor:pointer;
        font-size:16px;
        }